################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Database/secret
/Database/conn_pickle.pkl
/Database/__pycache__
