################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Database/secret
/Database/conn_pickle.pkl
/Database/__pycache__
/notes_journal.txt
/players.csv
/players2.csv
/player_match_data.csv
/players_elo.csv
